<!DOCTYPE html>
<html style="background-color:rgb(0, 0, 0);">
<head >
    <title>Work plane</title>
</head>
<body>
    <div class="row">
        <header >
            <h1></h1>
            <nav>
             
            </nav>
        </header>

        <main style="background-color:rgb(113, 116, 117);" >
          <app-grafic></app-grafic>
         <!-- <app-droptown></app-droptown> --> 
         <!-- <app-navbar></app-navbar>  -->  
        <!-- <app-calendar></app-calendar>   -->  
        </main>

        <footer >
        
        </footer>
    </div>
</body>
</html>



