

<html>

<body style="border-radius: 10px;">


  {{ config?.date | date: 'd' }}

  <div class="month">      
  <ul>
    <li class="prev">&#10094;</li>
    <li class="next">&#10095;</li>
    <li>
      {{ config?.date | date: 'MMMM' }}<br>
      <span style="font-size:18px">      
        {{ config?.date | date: 'yyyy' }}
        
        
            </span>
    </li>
  </ul>
</div>
<!--
<ul class="weekdays">
   <li *ngFor="let Day of config.Day">{{ Day }}</li> 

</ul>
-->

<div class="weekDays">

</div>
<ul class="days">  
  
  <li *ngFor="let WeekDays of config.WeekDays">{{ WeekDays }}</li>

   <!--
    <li *ngFor="let Monday of config.Monday">{{ Monday }}</li> 
    <li *ngFor="let Tuesday of config.Tuesday">{{ Tuesday }}</li> 
    <li *ngFor="let Wednesday of config.Wednesday">{{ Wednesday }}</li> 
    <li *ngFor="let Thursday of config.Thursday">{{ Thursday }}</li> 
    <li *ngFor="let Friday of config.Friday">{{ Friday }}</li> 
    <li *ngFor="let Saturday of config.Saturday">{{ Saturday }}</li>
    <li *ngFor="let SunDay of config.SunDay">{{ SunDay }}</li>

    -->
    
   

 </ul>

</body>
</html>
