

<html>
<head>
<style>

</style>
</head>
<body>


  {{ config?.date | date: 'd' }}

  <div class="month">      
  <ul>
    <li class="prev">&#10094;</li>
    <li class="next">&#10095;</li>
    <li>
      {{ config?.date | date: 'MMMM' }}<br>
      <span style="font-size:18px">      
        {{ config?.date | date: 'yyyy' }}
        
        
            </span>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li *ngFor="let Day of config.Day">{{ Day }}</li>
</ul>

<ul class="days">  
  <table>
    <!--<tr>
      <th><li *ngFor="let Monday config.Monday">{{ WeekDays }}</li></th>
      <th><li *ngFor="let Tuesday of config.Tuesday">{{ Tuesday }}</li></th>
      <th><li *ngFor="let Wednesday of config.Wednesday">{{ Wednesday }}</li></th>
      <th><li *ngFor="let Thursday of config.Thursday">{{ Thursday}}</li></th>
      <th><li *ngFor="let Friday of config.Friday">{{ Friday }}</li></th>
      <th><li *ngFor="let Saturday of config.Saturday">{{ Saturday }}</li></th>
      <th><li *ngFor="let SunDay of config.SunDay">{{ Saturday }}</li></th>
  
    </tr>-->
  
    <ul class="days">
      <table>
        <tr>
          <th><li *ngFor="let day of config.Day">{{ day }}</li></th>
        </tr>
      </table>
    </ul>
    
    
  </table>
  
 
</ul>

</body>
</html>
