<!DOCTYPE html>
<html>
<head>

</head>
<body>

<ul>
  <li style="font-size: 30px"><a class="active" href="#home">&#9776;</a></li>
  <li><a href="#news"></a></li>
  <li><a href="#contact"></a></li>
  <li><a href="#about"></a></li>
    <button onclick="myFunction()" style="float:right" ><a class="active" href="#about">Logowanie</a> </button> 
</ul>

<span>&#8231;</span>

</body>
</html>




<form action="login.php" method="post">
    Login: <input type="text" name="log"><br>
    Hasło: <input type="password" name="pw"><br>

    <input type="submit" value="Zaloguj">
</form>

<script>

</script>