<p>playground works!</p>

<div class="container">
    <header></header>
    <div class="articles">
      <article>
        <h1></h1>
  
        <p>
       
        </p>
  
        <button>Read more</button>
      </article>
      <article>
        <h1></h1>
        <p>

        </p>
        
      </article>
      <article>
        <h1></h1>
        <p>

        </p>
        <button>Read more</button>
      </article>
    </div>
    <aside>
      <h2>s</h2>
      <p>
       
      </p>
      <button></button>
    </aside>
    <footer></footer>
  </div>
  
